########################################
#                                      #
# FILE UNDER ANSIBLE CONFIG MANAGEMENT #
#                                      #
#        keep hands away               #
#                                      #
########################################

[client]
user     = root
password = {{ percona_server_root_password }}
